li {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    }

p {
    font-size: 15px;
    font-weight: 500;
}

.buttonDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin-right: 5px;
    margin-left: auto;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

    background-color: rgb(143, 139, 139);

    &:hover,
    &:focus {
      transform: scale(1.05);
       background-color: rgb(211, 78, 16);
}
}